@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.card {
    margin-top: 165px;
}

.text {
    text-align: left;
    color: rgb(16, 15, 15);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
    margin-bottom: 100px;
}
.text button {
    margin-top: 15px;
}
h2 {
    font-weight: bold;
    font-size: 50px;
    color: rgb(16, 15, 15);
}

p {
    font-weight: lighter;
    color: rgb(19, 18, 18);
    font-size: x-small;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.redirect-button {
    background-color: rgb(75, 101, 235);
    color: whitesmoke; 
    border: none;
    padding: 11px 38px;
    border-radius: 30px;
    cursor: pointer;
}

.box {
    margin: 10px auto;
    width: 400px;
    height: 335px;
    background-color: rgb(140, 209, 237);
    border: 2px solid rgb(140, 209, 237);
    border-radius: 14px;
    box-shadow: 5px 6px 3px #20226a;;
}

.redirect-button:hover {
    background-color: #0056b3;
}

.redirect-button.clicked {
    background-color: #5cb85c;
}
